body {
  margin: 0;
  background-image: url(bgBlue.jpg);
  font-family: "Merriweather", serif;
}

/*Auto clicker stuff-------------------------------------------*/

#Auto_box {
  width: 370px;
  height: 100px;
  background-color: #275c7e;
  border: solid #2b6d90 5px;

  border-radius: 20px;
  position: fixed;
  right: 10px;
  top: 10px;
}

#auto_pic {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  border: solid white 10px;
  border-radius: 10px;
}

#auto_cps {
  position: absolute;
  top: 50px;
  right: 20px;
  color: white;
  font-size: 15px;
}

#costAutoCliker {
  position: absolute;
  top: 30px;
  right: 20px;
  color: white;
  font-size: 15px;
}

#amountAutoClick {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 15px;
}
/*Auto clicker stuff-------------------------------------------*/

/*this is baker stuff-----------------------------------*/
#chef_box {
  width: 370px;
  height: 100px;

  background-color: #275c7e;
  border: solid #2b6d90 5px;

  border-radius: 20px;
  position: fixed;
  right: 10px;
  top: 140px;
}

#cookiePerClick {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 15px;
}

#chefPrice {
  position: absolute;
  top: 30px;
  right: 20px;
  color: white;
  font-size: 15px;
}

#chefAmount {
  position: absolute;
  top: 50px;
  right: 20px;
  color: white;
  font-size: 15px;
}

#chef_pic {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 50px;
  border: solid white 10px;
  border-radius: 10px;
}

/*Baker stuff---------------------------------------------*/

/*Farm stuff-------------------------------------------*/
#resturantbox {
  width: 370px;
  height: 100px;
  position: fixed;
  right: 10px;
  top: 280px;
  background-color: #275c7e;
  border: solid #2b6d90 5px;
  border-radius: 20px;
}

#resturantpic {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 80px;
  border-radius: 10px;
}

#resturantcps {
  position: absolute;
  top: 50px;
  right: 20px;
  color: white;
  font-size: 15px;
}

#resturantcost {
  position: absolute;
  top: 30px;
  right: 20px;
  color: white;
  font-size: 15px;
}

#resturantamount {
  position: absolute;
  top: 10px;
  right: 20px;
  color: white;
  font-size: 15px;
}
/*Farm stuff-------------------------------------------*/

#save {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  position: fixed;
  background-color: #317ba3;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #2a6991;
  right: 10px;
  bottom: 20px;
}

#leftd {
  width: 400px;
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  background-color: black;
  opacity: 30%;
}

#rightd {
  width: 30%;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: black;
  opacity: 30%;
}

#save:active {
  background-color: #317ba3;
  box-shadow: 0 5px #2a6991;
  transform: translateY(4px);
}

#load {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  position: fixed;
  background-color: #317ba3;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #2a6991;
  right: 130px;
  bottom: 20px;
}

#load:active {
  background-color: #317ba3;
  box-shadow: 0 5px #2a6991;
  transform: translateY(4px);
}

#Ramen_button {
  width: 400px;
  position: fixed;
  left: 100px;
  top: 156px;
  margin: 0px;
}

#Ramen_button:active {
  width: 420px;
}

.separatorRight,
.separatorLeft {
  background-image: url(panelVertical.png);
  width: 16px;
  height: 100%;
  position: absolute;
  top: 0%;
  bottom: 0;
}
.separatorRight {
  right: 400px;
}
.separatorLeft {
  left: 30%;
}

#text {
  color: white;
  font-size: 50px;
  position: absolute;
  font-size: 40px;
  margin: 0;
  top: 30px;
  right: 200px;
}

#bps {
  color: white;
  font-size: 40px;
  position: absolute;
  bottom: 30px;
  right: 200px;
  font-size: 20px;
}

#stats {
  width: 30%;
  height: 150px;
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 20px;
}
#stats_1 {
  width: 30%;
  height: 150px;
  margin: 0;
  position: fixed;
  top: 20px;
}
